
@font-face {
    font-family: Roboto;
    /* src: url('fonts/Roboto-Regular.eot')format ('eot'); */
    src: local('Roboto-Regular.woff'),
    url ('fonts/Roboto-Regular.woff') format('woff'),
        url ('fonts/Roboto-Regular.woff2') format ('woff2');
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

.card-1 {
    background-color: #1F2937;
    padding: 10px;
}

.header-logo {
}