
@font-face {
    font-family: Roboto;
    /* src: url('fonts/Roboto-Regular.eot')format ('eot'); */
    src: url ('Roboto-Regular.woff') format('woff'),
    url ('fonts/Roboto-Regular.woff') format('woff'),
        url ('fonts/Roboto-Regular.woff2') format ('woff2');
}
/* * {
    border: solid 1px red;
} */
body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
li {
    margin-left: 0px;   
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}
/* card-1 styling */
.card-1 {
    background-color: #1F2937;
    padding: 10px 100px 50px;
    min-width: 600px;
}
.header {
    display: flex;
}
.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}
.header-links {
    color: #e5e7eb;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    /* padding: 0px; */
}
.hero {
    color: #f9fAf8;
    margin: 0px;
    padding-right: 10px ;
}
.subtext-1 {
    color: #f9fAf8;
    /* margin: 0px; */
    padding-right: 10px ;
}
.flexbox-1 {
    display: flex;
}
.content-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: 200px; */
    justify-content: space-between;
}
.content-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    min-height: 180px;
}

.content-2 .image-1 {
    color: #f9fAf8;
}
button {
    background-color: #3882f6;
    color: #f9fAf8;
    padding: 5px 25px;
    border: 0px;
    border-radius: 5px;
    /* width: 100px; */
    max-width: fit-content;
}
button:hover {
    cursor: pointer;
    background-color: #3679e6;
}

/* card-2 styling */

.card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 600px;
}

.flexbox-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 140px;
}

.random-info {
    margin-bottom: 20px;
}

.bluebox {
    border: solid #3882f6 2px;
    width: 100px;
    height: 100px;
    border-radius: 7px;
}

.flexbox-2 {
    display: flex;
}

.subtext-2 {
    width: 110px;
    font-size: 12px;
    margin-top: 5px;
}

.card-3 {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    /* max-height: 600px; */
}
.quote {
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin-bottom: 20px;
}
.thor-sig {
    margin-top: 0px;
    margin-left: auto;
}

.card-4 {
    padding: 90px 110px;
    margin-bottom: auto;
}
.call-to-a-card {
    border-radius: 5px;
    background-color: #3882f6;
    padding: 20px 60px;
    min-width: 500px;
    display: flex;
    /* flex: 1 1 0; */
}

.flexb-for-button {
    color: #e5e7eb;
}

.flexb-for-button #call2action-p {
    margin: 10px;
}
.flexb-for-button #lower-signup-p {
    margin: 10px;
    font-size: 15px;
}

#sign-up-2 {
    margin-left: auto;
    border: solid #F9FAF8 1px;
    max-width: fit-content;
    min-width: fit-content;
    max-height: 30px;
    /* border: 1px; */
    align-self: center;
}

.footer {
    /* margin-top: auto; */
    background-color: #1F2937;
    text-align: center;
    padding: 20px;
    color: #e5e7eb;
}



