
@font-face {
    font-family: Roboto;
    /* src: url('fonts/Roboto-Regular.eot')format ('eot'); */
    src: local('Roboto-Regular.woff'),
    url ('fonts/Roboto-Regular.woff') format('woff'),
        url ('fonts/Roboto-Regular.woff2') format ('woff2');
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

.card-1 {
    background-color: #1F2937;
    padding: 10px 100px 50px;
}

.header {
    display: flex;
}
.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0px;
}
.header-links {
    display: flex;
    gap: 20px;
    margin-left:auto
}
.hero {
    color: #f9fAf8;
    /* font-weight:900; */
}
ul {
    list-style-type: none;
}
